<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <em> Variant:  <%= typeof variant != 'undefined' ? variant : 'default' %></em>
<!-- anything enclosed by <% %> is ejs -->
    <br><br>
    <a href="/" class="navbar-brand">Event list</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a href="/" class="nav-link">HOME</a>
        </li>
        <li class="nav-item">
            <a href="/form" class="nav-link">FORM</a>
        </li>
    </ul>
</nav>